<h3>ラバーの詳細情報</h3>
<div class="syosai">
  
  <div class="syosai1">
    <%= image_tag @pen.image_url, size: "300x300" if @pen.image? %>
    <p><%= @pen.rubbers_name %></p>
    <% @pen.tags.each do |tag| %>
      <span><%= tag.name %></span>
    <p><%= @pen.company_name %></p>
    <p><%= @pen.strong_point %></p>
    <p><%= @pen.weak_point %></p>
    <% end %>
  </div>

  <div class="comment-wrapper">
    <p>コメント一覧</p>
    <% @comments.each do |c| %>
      <div>
        <%= c.content %>
      </div>
        <br>
    <% end %>

    <% if user_signed_in? %>
      <%= form_with(model: [@pen, @comment], local: true) do |f| %>
        <%= f.text_area :content %>
        <%= button_tag type: "submit" do %>
          <i class="far fa-comments"></i> コメントする
        <% end %>
      <% end %>
    <% end %>
    <%= link_to "一覧に戻る", pens_path %>
  </div>
</div>