 <div class="allquestion">
    <div class="mugitya">
        <h1>第1問 あなたの今のレベルは？</h1>
        
        <div class="sentakusi">
            <%= link_to "初心者", perfumes_show1_path %>
            <%= link_to "初級者", perfumes_question2_path %>
            <%= link_to "初中級者", perfumes_question8_path %>
            <%= link_to "中上級者", perfumes_question13_path %>
            <%= link_to "上級者", perfumes_question18_path %>
        </div>
    </div>

    <div class="explane">
        <ul>
        <li>初心者：始めたばかりでできない技術がある。</li>
        <li>初級者：一通り技術は習得したが、試合で苦手を攻められると対応できない。異質に対応できない。</li>
        <li>初中級者：試合の中で弱点を攻められても対応できる。試合で勝てるようになる。</li>
        <li>中上級者 ：都道府県大会レベルで安定して結果を出すことができる。相手を分析して勝てる。自分のパターンに持っていける。</li>
        <li>上級者：地方大会や全国大会で結果を出せる。</li>
        </ul>
    </div>
</div>