<h4><あなたにおすすめのラバー></h4>
<ul>

<div class="sindankekka">
  <div class="maker">
    <h5>Butterfly</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'ディグニクス05.jpg', class:'originalextra' %></p>
      <p>ディグニクス 05</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'テナジー05.jpg', class:'originalextra' %></p>
      <p>テナジー 05</p>
    </div>
  </div>

  <div class"u-rontya1">
    <div class="maker1">
      <h5>Nittaku</h5>
      <h5>VICTAS</h5>
      <h5>andro</h5>
    </div>
  </div>

  <div class="u-ronntya2">
    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'ファスタークS1.jpg', class:'originalextra' %></p>
        <p>ファスターク S-1</p>
      </div>
    </div>

    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'エキストラ.png', class:'originalextra' %></p>
        <p>V15>Extra</p>
      </div>
    </div>

    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'R50.jpg', class:'originalextra' %></p>
        <p>ラザンター R50</p>
      </div>
    </div>
  </div>

  <div class="maker">
    <h5>STIGA</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'MXD.jpg', class:'originalextra' %></p>
      <p>エボリューション MX-D</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'MXP.jpg', class:'originalextra' %></p>
      <p>エボリューション MX-P</p>
    </div>
  </div>

  <div class="maker">
    <h5>XIOM</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'オメガツアー.jpg', class:'originalextra' %></p>
      <p>オメガⅤ ツアー</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'オメガプロ.png', class:'originalextra' %></p>
      <p>オメガⅤ プロ</p>
    </div>
  </div>

  <div class="maker">
    <h5>DONIC</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'M1ターボ.jpg', class:'originalextra' %></p>
      <p>ブルーファイア M1ターボ</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'ストームZ3.jpg', class:'originalextra' %></p>
      <p>ブルーストーム Z3</p>
    </div>
</div>

  </ul>

  <%= link_to "トップに戻る", pens_path %>
</div>
