<h4><あなたにおすすめのラバー></h4>
<ul>

<div class="sindankekka">
  <div class="maker">
    <h5>Butterfly</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'テナジー05.jpg', class:'originalextra' %></p>
      <p>テナジー05</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'ディグニクス05.jpg', class:'originalextra' %></p>
      <p>ディグニクス05</p>
    </div>
  </div>


  <div class"u-rontya1">
    <div class="maker1">
      <h5>VICTAS</h5>
      <h5>TIBHAR</h5>
    </div>
  </div>
  
  <div class="u-ronntya2">
    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'V22.jpg', class:'originalextra' %></p>
        <p>V>22 Double Extra</p>
      </div>
    </div>

    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'MK.jpg', class:'originalextra' %></p>
        <p>ハイブリッド MK</p>
      </div>
    </div>
  </div>

  <div class="u-rontya1">
    <div class="maker1">
      <h5>STIGA</h5>
      <h5>DONIC</h5>
    </div>
  </div>

  <div class="u-ronntya2">
    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'プラチナXH.jpg', class:'originalextra' %></p>
        <p>DNA プラチナXH</p>
      </div>
    </div>

    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'PROAM.jpg', class:'originalextra' %></p>
        <p>ブルーストーム PRO AM</p>
      </div>
    </div>
  </div>
</div>

  </ul>

  <%= link_to "トップに戻る", pens_path %>
</div>
