<h4><あなたにおすすめのラバー></h4>
<ul>
<div class="sindanbunsyou">    
  <p>柔らかめのラバーがおすすめです。</p>
  <p>スピードは出にくいですが、操作性に長けています。</p>
</div>

<div class="sindankekka">
  <div class="maker">
    <h5>Butterfly</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'ラウンデルソフト.jpg', class:'originalextra' %></p>
      <p>ラウンデルソフト</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag '61JLW8VpACL SRIVER FX.jpg', class:'originalextra' %></p>
      <p>スレイバーFX</p>
    </div>
  </div>

  <div class"u-rontya1">
    <div class="maker1">
      <h5>Nittaku</h5>
      <h5>Yasaka</h5>
    </div>
  </div>

  <div class="u-ronntya2">
    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'フライアットソフト.jpg', class:'originalextra' %></p>
        <p>フライアットソフト</p>
      </div>
    </div>

    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'マークVAD.jpg', class:'originalextra' %></p>
        <p>マークV AD</p>
      </div>
    </div>
  </div>

  </ul>

  <%= link_to "トップに戻る", pens_path %>
</div>