<h4><あなたにおすすめのラバー></h4>
<ul>
<div class="sindanbunsyou">    
  <p>少し硬めのラバーがおすすめです。相手の回転に負けないようなスイングを心がけましょう。</p>
</div>

<div class="sindankekka">
  <div class="maker">
    <h5>Butterfly</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'ROUNDELL.jpg', class:'originalextra' %></p>
      <p>ラウンデル</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'ラウンデルハード.jpg', class:'originalextra' %></p>
      <p>ラウンデルハード</p>
    </div>
  </div>

  <div class="maker">
    <h5>Yasaka</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'エクステンド.jpg', class:'originalextra' %></p>
      <p>エクステンド</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'エクステンドHS.jpg', class:'originalextra' %></p>
      <p>エクステンドHS</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'マークV HPS.jpg', class:'originalextra' %></p>
      <p>マークV HPS</p>
    </div>
  </div>
  
  <div class"u-rontya1">
    <div class="maker1">
      <h5>Nittaku</h5>
      <h5>VICTAS</h5>
      <h5>XIOM</h5>
    </div>
  </div>

  <div class="u-ronntya2">
    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'フライアットスピン.jpg', class:'originalextra' %></p>
        <p>フライアットスピン</p>
      </div>
    </div>

    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'レギュラー.jpg', class:'originalextra' %></p>
        <p>VJ>07 Regular</p>
      </div>
    </div>
    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'ヴェガヨーロ.jpg', class:'originalextra' %></p>
        <p>ヴェガ ヨーロッパ</p>
      </div>
    </div>
  </div>

  </ul>

  <%= link_to "トップに戻る", pens_path %>
</div>