<h4><あなたにおすすめのラバー></h4>
<ul>
<div class="sindanbunsyou">    
  <p>自分で食い込ませられる硬度のラバーを選びましょう。</p>
</div>

<div class="sindankekka">
  <div class="maker">
    <h5>Butterfly</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'ロゼナ.jpg', class:'originalextra' %></p>
      <p>ロゼナ</p>
    </div>
  </div>

  <div class="maker">
    <h5>Yasaka</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'raiganspin.jpg', class:'originalextra' %></p>
      <p>ライガンスピン</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'ラクザ7.jpg', class:'originalextra' %></p>
      <p>ラクザ７</p>
    </div>
  </div>
  
  <div class="maker">
    <h5>Nittaku</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'ファスタークC1.jpg', class:'originalextra' %></p>
      <p>ファスタークC-1</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'factive.jpeg', class:'originalextra' %></p>
      <p>ファクティブ</p>
    </div>
  </div>

  <div class="maker">
    <h5>XIOM</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'ヴェガアジア.jpg', class:'originalextra' %></p>
      <p>ヴェガアジア</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'ヴェガジャパン.jpg', class:'originalextra' %></p>
      <p>ヴェガジャパン</p>
    </div>
  </div>
</div>

  </ul>

  <%= link_to "トップに戻る", pens_path %>
</div>