<h4><あなたにおすすめのラバー></h4>
<ul>

<div class="sindankekka">
  <div class="maker">
    <h5>Butterfly</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'テナジー05.jpg', class:'originalextra' %></p>
      <p>テナジー05</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'ディグニクス05.jpg', class:'originalextra' %></p>
      <p>ディグニクス05</p>
    </div>
  </div>


  <div class"u-rontya1">
    <div class="maker1">
      <h5>Nittaku</h5>
      <h5>XIOM</h5>
    </div>
  </div>
  
  <div class="u-ronntya2">
    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'ファスタークG1.jpg', class:'originalextra' %></p>
        <p>ファスターク G-1</p>
      </div>
    </div>

    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'オメガⅤツアー.png', class:'originalextra' %></p>
        <p>オメガⅤ ツアー</p>
      </div>
    </div>
  </div>

  <div class="u-rontya1">
    <div class="maker1">
      <h5>STIGA</h5>
      <h5>DONIC</h5>
    </div>
  </div>

  <div class="u-ronntya2">
    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'プラチナH.jpg', class:'originalextra' %></p>
        <p>DNA プラチナH</p>
      </div>
    </div>

    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'PROAM.jpg', class:'originalextra' %></p>
        <p>ブルーストーム PRO AM</p>
      </div>
    </div>
  </div>
</div>

  </ul>

  <%= link_to "トップに戻る", pens_path %>
</div>
