<h4><あなたにおすすめのラバー></h4>
<ul>
<div class="sindanbunsyou">    
  <p>弧線の高いラバーがおすすめです。</p>
</div>

<div class="sindankekka">
  <div class="maker">
    <h5>Butterfly</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'ロゼナ.jpg', class:'originalextra' %></p>
      <p>ロゼナ</p>
    </div>
  </div>

  <div class="maker">
    <h5>Yasaka</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'ライガンスピン.jpg', class:'originalextra' %></p>
      <p>ライガンスピン</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'ラクザX.jpg', class:'originalextra' %></p>
      <p>ラクザX</p>
    </div>
  </div>
  
  <div class="maker">
    <h5>Nittaku</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'ファスタークG1.jpg', class:'originalextra' %></p>
      <p>ファスタークG-1</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'ファクティブ.jpg', class:'originalextra' %></p>
      <p>ファクティブ</p>
    </div>
  </div>

  <div class="maker">
    <h5>MIZUNO</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'GFT48.jpg', class:'originalextra' %></p>
      <p>GF T48</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'GFPRO.jpg', class:'originalextra' %></p>
      <p>GF PRO</p>
    </div>
  </div>

  <div class="maker">
    <h5>andro</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'R37.jpg', class:'originalextra' %></p>
      <p>ラザンター R37</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'R42.jpg', class:'originalextra' %></p>
      <p>ラザンター R42</p>
    </div>
  </div>

  </ul>

  <%= link_to "トップに戻る", pens_path %>
</div>