<h4><あなたにおすすめのラバー></h4>
<ul>

<div class="sindankekka">
  <div class"u-rontya1">
    <div class="maker1">
      <h5>Nittaku</h5>
      <h5>Butterfly</h5>
    </div>
  </div>

  <div class="u-ronntya2">
    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'ファスタークC1.jpg', class:'originalextra' %></p>
        <p>ファスターク C-1</p>
      </div>
    </div>

    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'ロゼナ.jpg', class:'originalextra' %></p>
        <p>ロゼナ</p>
      </div>
    </div>
  </div>

  <div class"u-rontya1">
    <div class="maker1">
      <h5>DONIC</h5>
      <h5>VICTAS</h5>
      <h5>XIOM</h5>
    </div>
  </div>

  <div class="u-ronntya2">
    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'M3.jpg', class:'originalextra' %></p>
        <p>ブルーファイア M3</p>
      </div>
    </div>

    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'リンバー.png', class:'originalextra' %></p>
        <p>V15>Limber</p>
      </div>
    </div>

    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'オメガヨーロDF.png', class:'originalextra' %></p>
        <p>オメガⅤ ヨーロッパ DF</p>
      </div>
    </div>
  </div>
  </ul>

  <%= link_to "トップに戻る", pens_path %>
</div>
