<h4><あなたにおすすめのラバー></h4>
<ul>
<div class="sindanbunsyou"> 
  <p>少し硬めのラバーがおすすめです。オーバーミスには気を付けましょう。</p>
</div>

<div class="sindankekka">

  <div class"u-rontya1">
    <div class="maker1">
      <h5>Butterfly</h5>
      <h5>Yasaka</h5>
    </div>
  </div>

  <div class="u-ronntya2">
    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'ラウンデルハード.jpg', class:'originalextra' %></p>
        <p>ラウンデルハード</p>
      </div>
    </div>

    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'エクステンドHS.jpg', class:'originalextra' %></p>
        <p>エクステンド HS</p>
      </div>
    </div>
  </div>

  <div class"u-rontya1">
    <div class="maker1">
      <h5>VICTAS</h5>
      <h5>MIZUNO</h5>
    </div>
  </div>

  <div class="u-ronntya2">
    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'レギュラー.jpg', class:'originalextra' %></p>
        <p>VJ>07 Regular</p>
      </div>
    </div>

    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'ユニゾンプラス.jpg', class:'originalextra' %></p>
        <p>ユニゾンプラス</p>
      </div>
    </div>
  </div>
  </ul>

  <%= link_to "トップに戻る", pens_path %>
</div>