<h4><あなたにおすすめのラバー></h4>
<ul>
<div class="sindanbunsyou">    
  <p>硬めのラバーを使うことで威力が出たり、回転に負けにくくなったりします。</p>
  <p>オーバーミスが多い場合は、少し柔らかめのラバーがおすすめです。</p>
</div>

<div class="sindankekka">
  <div class"u-rontya1">
    <div class="maker1">
      <h5>Butterfly</h5>
      <h5>Yasaka</h5>
    </div>
  </div>

  <div class="u-ronntya2">
    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'ロゼナ.jpg', class:'originalextra' %></p>
        <p>ロゼナ</p>
      </div>
    </div>

    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'ラクザX.jpg', class:'originalextra' %></p>
        <p>ラクザX</p>
      </div>
    </div>
  </div>

  <div class"u-rontya1">
    <div class="maker1">
      <h5>Nittaku</h5>
      <h5>VICTAS</h5>
    </div>
  </div>

  <div class="u-ronntya2">
    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'ファスタークG1.jpg', class:'originalextra' %></p>
        <p>ファスターク G-1</p>
      </div>
    </div>

    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'エキストラ.png', class:'originalextra' %></p>
        <p>V15>Extra</p>
      </div>
    </div>
  </div>

  <div class="maker">
    <h5>XIOM</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'ヴェガヨーロ.jpg', class:'originalextra' %></p>
      <p>ヴェガ ヨーロッパ</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'ヴェガプロ.jpg', class:'originalextra' %></p>
      <p>ヴェガ プロ</p>
    </div>
  </div>
</div>

  </ul>

  <%= link_to "トップに戻る", pens_path %>
</div>