<h4><あなたにおすすめのラバー></h4>
<ul>
<div class="sindanbunsyou">    
  <p>回転を上書きできるように、スリップしにくいラバーを選びましょう。</p>
</div>

<div class="sindankekka">
  <div class="maker">
    <h5>Yasaka</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'ラクザX.jpg', class:'originalextra' %></p>
      <p>ラクザX</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'ラクザ7.jpg', class:'originalextra' %></p>
      <p>ラクザ７</p>
    </div>
  </div>
  
  <div class="maker">
    <h5>Nittaku</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'ファスタークP1.jpg', class:'originalextra' %></p>
      <p>ファスタークP-1</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'ファスタークS1.jpg', class:'originalextra' %></p>
      <p>ファスタークS-1</p>
    </div>
  </div>

  <div class="maker">
    <h5>XIOM</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'ヴェガアジア.jpg', class:'originalextra' %></p>
      <p>ヴェガアジア</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'ヴェガジャパン.jpg', class:'originalextra' %></p>
      <p>ヴェガジャパン</p>
    </div>
  </div>

  <div class"u-rontya1">
    <div class="maker1">
      <h5>DONIC</h5>
      <h5>andro</h5>
    </div>
  </div>

  <div class="u-ronntya2">
    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'ブルーファイアM1.jpg', class:'originalextra' %></p>
        <p>ブルーファイア M1</p>
      </div>
    </div>

    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'V42.jpg', class:'originalextra' %></p>
        <p>ラザンター V42</p>
      </div>
    </div>
  </div>


  <div class="maker">
    <h5>MIZUNO</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'GFPRO.jpg', class:'originalextra' %></p>
      <p>GF PRO</p>
    </div>
  </div>
  </ul>

  <%= link_to "トップに戻る", pens_path %>
</div>