<h4><あなたにおすすめのラバー></h4>
<ul>

<div class="sindankekka">
  <div class="maker">
    <h5>Butterfly</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'ディグニクス05.jpg', class:'originalextra' %></p>
      <p>ディグニクス 05</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'テナジー05.jpg', class:'originalextra' %></p>
      <p>テナジー 05</p>
    </div>
  </div>
  
  <div class="maker">
    <h5>Nittaku</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'ファスタークG1.jpg', class:'originalextra' %></p>
      <p>ファスターク G-1</p>
    </div>
  </div>

  <div class="maker">
    <h5>TIBHAR</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'MXD.jpg', class:'originalextra' %></p>
      <p>エボリューション MX-D</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'MXS.jpg', class:'originalextra' %></p>
      <p>エボリューション MX-S</p>
    </div>
  </div>

  <div class="maker">
    <h5>andro</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'R47.jpg', class:'originalextra' %></p>
      <p>ラザンター R47</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'パワーグリップ.jpg', class:'originalextra' %></p>
      <p>ヘキサー パワーグリップ</p>
    </div>
  </div>

  <div class="maker">
    <h5>XIOM</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'ヴェガツアー.jpg', class:'originalextra' %></p>
      <p>ヴェガ ツアー</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'オメガ7ヨーロ.jpg', class:'originalextra' %></p>
      <p>オメガⅦ ヨーロッパ</p>
    </div>
  </div>

  <div class="maker">
    <h5>XIOM</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'M2.jpg', class:'originalextra' %></p>
      <p>ブルーファイア M2</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'ストームZ2.jpg', class:'originalextra' %></p>
      <p>ブルーストーム Z2</p>
    </div>
  </div>

</div>

  </ul>

  <%= link_to "トップに戻る", pens_path %>
</div>