<h4><あなたにおすすめのラバー></h4>
<ul>
<div class="sindanbunsyou">    
  <p>柔らかいラバーの方が扱いやすいため、少し硬度の低いラバーを選びましょう。</p>
</div>

<div class="sindankekka">
  <div class="maker">
    <h5>Butterfly</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'ロゼナ.jpg', class:'originalextra' %></p>
      <p>ロゼナ</p>
    </div>
  </div>

  <div class"u-rontya1">
    <div class="maker1">
      <h5>Nittaku</h5>
      <h5>Yasaka</h5>
    </div>
  </div>

  <div class="u-ronntya2">
    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'ファスタークC1.jpg', class:'originalextra' %></p>
        <p>ファスターク C-1</p>
      </div>
    </div>

    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'ライガンスピン.jpg', class:'originalextra' %></p>
        <p>ライガンスピン</p>
      </div>
    </div>
  </div>

  <div class"u-rontya1">
    <div class="maker1">
      <h5>XIOM</h5>
      <h5>VICTAS</h5>
    </div>
  </div>

  <div class="u-ronntya2">
    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'ヴェガヨーロ.jpg', class:'originalextra' %></p>
        <p>ヴェガ ヨーロッパ</p>
      </div>
    </div>

    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'レギュラー.jpg', class:'originalextra' %></p>
        <p>VJ>07 Regular</p>
      </div>
    </div>
  </div>
  </ul>

  <%= link_to "トップに戻る", pens_path %>
</div>