<h4><あなたにおすすめのラバー></h4>
<ul>
<div class="sindanbunsyou">
  <p>硬めのラバーを使うとスピードは出ますが、安定感に欠けます。</p>
  <p>オーバーミスが多いと感じたら、少し柔らかめのラバーに変えてみましょう。</p>
</div>

<div class="sindankekka">
  <div class="maker">
    <h5>Butterfly</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'ROUNDELL.jpg', class:'originalextra' %></p>
      <p>ラウンデル</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'ラウンデルソフト.jpg', class:'originalextra' %></p>
      <p>ラウンデルソフト</p>
    </div>
  </div>

  <div class="maker">
    <h5>Yasaka</h5>
  </div>
  <div class="rubberimage">
    <div class="u-rontya">
      <p><%= image_tag 'エクステンド.jpg', class:'originalextra' %></p>
      <p>エクステンド</p>
    </div>
    <div class="u-rontya">
      <p><%= image_tag 'エクステンドSD.jpg', class:'originalextra' %></p>
      <p>エクステンドSD</p>
    </div>
  </div>
  
  <div class"u-rontya1">
    <div class="maker1">
      <h5>Nittaku</h5>
      <h5>MIZUNO</h5>
    </div>
  </div>

  <div class="u-ronntya2">
    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'ハモンド.jpg', class:'originalextra' %></p>
        <p>ハモンド</p>
      </div>
    </div>

    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'ユニゾンプラス.jpg', class:'originalextra' %></p>
        <p>ユニゾンプラス</p>
      </div>
    </div>
  </div>
  </ul>

  <%= link_to "トップに戻る", pens_path %>
</div>