<h4><あなたにおすすめのラバー></h4>
    <ul>

    <div class="sindanbunsyou">    
        <p>扱いやすい高弾性ラバーがおすすめです。まずは基本的な技術を習得して、さらなるレベルアップを図っていきましょう！</p>
    </div>

    <div class="sindankekka">
        <div class="maker">
            <h5>Butterfly</h5>
        </div>
        <div class="rubberimage">
            <div class="u-rontya">
                <p><%= image_tag 'sapphira_butterfly05540.jpg', class:'originalextra' %></p>
                <p>サフィーラ</p>
            </div>
            <div class="u-rontya">
                <p><%= image_tag '81_1_450 FLEXTRA.jpg', class:'originalextra' %></p>
                <p>フレクストラ</p>
            </div>
            <div class="u-rontya">
                <p><%= image_tag '61JLW8VpACL SRIVER FX.jpg', class:'originalextra' %></p>
                <p>スレイバーFX</p>
            </div>
        </div>
        
        <div class="maker">
            <h5>Yasaka</h5>
        </div>
        <div class="rubberimage">
            <div class="u-rontya">
                <p><%= image_tag '129_1_450 MARK-V.jpg', class:'originalextra' %></p>
                <p>マークV</p>
            </div>
            <div class="u-rontya">
                <p><%= image_tag '51fkoIdz3rL Original EXTRA.jpg', class:'originalextra' %></p>
                <p>オリジナルエクストラ</p>
            </div>
        </div>
        
    <div class"u-rontya1">
        <div class="maker1">
          <h5>Nittaku</h5>
          <h5>VICTAS</h5>
          <h5>XIOM</h5>
        </div>
    </div>
      
    <div class="u-ronntya2">
        <div class="rubberimage1">
          <div class="u-rontya">
            <p><%= image_tag 'product_big_15801 RUUKING.jpg', class:'originalextra' %></p>
            <p>ルーキング</p>
          </div>
        </div>
    
        <div class="rubberimage1">
          <div class="u-rontya">
            <p><%= image_tag '525_2_450 VENYUS Regular.jpg', class:'originalextra' %></p>
            <p>ヴェンタス レギュラー</p>
          </div>
        </div>
        <div class="rubberimage1">
            <div class="u-rontya">
                <p><%= image_tag '507_1_450 VEGA INTRO.jpg', class:'originalextra' %></p>
                <p>ヴェガ イントロ</p>
            </div>
      </div>
    </div>
    
    </ul>

    <%= link_to "トップに戻る", pens_path %>
</div>